#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  height: 90vh;
  width: 90vw;
  border: solid grey 2px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 15px;
}

.card {
  width: clamp(200px, 30%, 400px);
  height: clamp(100px, 20%, 300px);;
  text-align: left;
}